{% extends 'base.html.twig' %}
{% block customStylesheets %}
    <link rel="stylesheet" href="{{ asset('build/css/project.css') }}"/>
{% endblock %}
{% block body %}
    <div class="project">New Project</div>
    <div class="container">
        <form name="project" action="{{ path('project_create') }}" method="post">
            <div class="containerLeftAndRight">
                <div class="containerProjectAndTitle">
                    <div class="projectTitle"><label class="labelProjectInput" for="project[title]">Title</label>
                        <input id="project_title" name="project[title]" class="inputProjectMenu" type="text"
                               placeholder="write Title" value="{{ project.title|default(null) }}">
                        <div class="blockForError">
                            <div class="errorStyle">{{ errors.name|default(null) }}</div>
                        </div>
                    </div>
                    <div class="projectDescription">
                        <label class="labelProjectInput" for="project[description]">Description</label>
                        <textarea name="project[description]" id="project_description"
                                  class="projectDescriptionTextArea"
                                  cols="30" rows="10" placeholder="Description Project" >{{ project.description|default(null) }}</textarea>
                        <div class="blockForError">
                            <div class="errorStyle">{{ errors.description|default(null) }}</div>
                        </div>

                    </div>


                </div>
                <div id="app">
                    <input id="inputId1" type="text">

                    <br/>
                    <a href="#" v-on:click="push">Add user in project</a>
                    <div id="containerInput">
                    {% if project and project.user %}
                    {% for email in project.user %}
                    <a href="#">
                        <input id="{{ email }}" data-email="{{ email }}" name="project[user][{{ email }}]" value="{{ email }}">
                        <button v-on:click="test" id="{{ email }}1" data-email="{{ email }}" class="deleteButton">delete user</button>
                    </a>
                    {% endfor %}
                    {% endif %}
                        <div class="blockForError">
                            <div class="errorStyle">{{ errors.inviteCreator|default(null) }}</div>
                            <div class="errorStyle">{{ errors.emailErrors|default(null) }}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="inputCenter">
                <input class="inputProjectSubmit" type="submit" value="Create Project">
            </div>




            <input type="hidden" name="token" value="{{ csrf_token('project-create') }}"/>
        </form>
    </div>
    <div>
    </div>

{% endblock %}

{% block customJs %}
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="{{ asset('build/js/project.js') }}"></script>{% endblock %}
