{% extends 'base.html.twig' %}
{% block customStylesheets %}
    <link rel="stylesheet" href="{{ asset('build/css/projectview.css') }}"/>
{% endblock %}
{% block body %}
    <div class="project">{{ project.title|default(null) }}
        <p>Created at {{ project.createdAt|date("m/d/Y") }} by
            <a href="#" class="titleProjectLink">
                {{ project.createdBy.name }} {{ project.createdBy.lastName }} ({{ project.createdBy.email }})
            </a></p>
    </div>

    <div class="container">
        <div class="containerLeftAndRight">
            <div class="containerProjectAndTitle">


                <div class="description">
                    <p class="textProejctAndTask">Description</p>
                   <div class="descriptionText"> {{ project.description|default(null) }}
                   </div>
                </div>


                <div class="userDiv">

                    <p class="textProejctAndTask">Users in project</p>
                    {% if project and project.invitedUsers %}
                        {% for user in project.invitedUsers %}
                            <div class="usersListDirection"><a href="#" class="taskAndProjectLink">
                                    {{ user.name }} {{ user.lastName }} ({{ user.email }})
                                </a>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
                <div>
                </div>
            </div>
            <div class="containerForTask" id="app">
                <div class="inputCenter">

                    <a href="{{ path('task_create', {'id' : project.id }) }}"
                       class="inputRegisterMenu inputRegisterMenuButton">Create task</a>
                </div>


                {#            Тут див для тасков, я думаю, что имеет смысл сделать его таблицей с невидимой границей ячеек, чтобы это ровно выглядело#}
                <p class="textProejctAndTask">Tasks</p>
                <div class="taskContainer">

                    {% if project and project.tasks %}
                        {% for task in project.tasks %}
                            <div class="taskDirection">
                                <a href="{{ path('task_view', {'id' : task.id}) }}" class="taskAndProjectLink" id="show-modal" @click="showModal = true" onclick="event.preventDefault()" v-on:click="getLink">
                                    {{ task.title }} </a> {{ task.status.title }} created
                                at {{ task.createdAt|date("m/d/Y H:i") }}

                                {% if task.executor and task.status.title is not same as ('Done') %}
                                    taken by
                                    <a href="#" class="taskAndProjectLink">
                                        {{ task.executor.name }} {{ task.executor.lastName }} ({{ task.executor.email }}
                                        )
                                    </a>
                                    <a href="{{ path('task_complete', {'id' : task.id}) }}" title="Complete task"><i
                                                class="fas fa-check-square"></i>
                                    </a>

                                {% elseif task.status.title is same as ('Done') %}
                                    done by

                                    <a href="#" class="taskAndProjectLink">
                                        {{ task.executor.name }} {{ task.executor.lastName }} ({{ task.executor.email }}
                                        )
                                    </a> at {{ task.updatedAt|date("m/d/Y H:i") }}
                                {% else %}
                                    <a href="{{ path('task_take', {'id' : task.id}) }}" title="Take to work"><i
                                                class="far fa-hand-point-right"></i></a>
                                {% endif %}
                            </div>
                        {% endfor %}
                    {% endif %}

                    <modal v-if="showModal" @close="showModal = false">
                        <!--
                          you can use custom content here to overwrite
                          default content
                        -->
                        <div slot="body" id="divTaskTitle"><input id="inputTaskTitle" type="text" >  ${info.title} </div>
                        <div slot="header">  ${info.description}</div>
                        <div slot="footer">   ${info.status}</div>
                    </modal>

                </div>

            </div>


        </div>
        <div class="inviteInProject">
            <div class="textAndLindInvite">
           Invite link <a class="inviteProjectLink" href="{{ inviteUrl }}">{{ inviteUrl }}</a></div>
            <div class="inputCenter">
                <a href="#"
                   class="inputRegisterMenu inputRegisterMenuButton">Edit project</a>
            </div>
        </div>
    </div>

    <script type="text/x-template" id="modal-template">
        <transition name="modal">
            <div class="modal-mask">
                <div class="modal-wrapper">
                    <div class="modal-container">

                        <div class="modal-header">
                            <slot name="header">
                                default header
                            </slot>
                        </div>

                        <div class="modal-body"  >
                            <slot name="body">

                            </slot>
                        </div>

                        <div class="modal-footer">
                            <slot name="footer">
                                default footer

                            </slot>
                            <button class="modal-default-button" @click="$emit('close')">
                                <i class="fas fa-window-close"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </transition>
    </script>

    <!-- app -->
  {#  <div id="app">
        <button id="show-modal" @click="showModal = true">Show Modal</button>
        <!-- use the modal component, pass in the prop -->
        <modal v-if="showModal" @close="showModal = false">
            <!--
              you can use custom content here to overwrite
              default content
            -->
            <h3 slot="header">custom header</h3>
        </modal>
    </div>#}

{% endblock %}

{% block customJs %}
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="{{ asset('build/js/viewproject.js') }}"></script>{% endblock %}
